.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--blue);
    padding: 1rem 2rem;
}
.logo {
    height: 40px;
}
.nav a {
    color: var(--white);
    margin-left: 1rem;
    text-decoration: none;
    font-weight: bold;
}
.nav a:hover {
    text-decoration: underline;
}